* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box; }

body {
  width: 100%;
  background: -webkit-linear-gradient(top left, #c1f0f3, #e5f2f3) no-repeat;
  background: linear-gradient(to bottom right, #c1f0f3, #e5f2f3) no-repeat; }

.container {
  width: 1024px;
  margin: 0 auto; }

.main-img {
  float: right;
  -webkit-transform: translate(-143px, -155px);
      -ms-transform: translate(-143px, -155px);
          transform: translate(-143px, -155px); 

    width: 35%;
    margin-left: 25px;

        }
  .main-img:before, .main-img :after {
    display: table;
    content: "";
    clear: both; }

.main-text {
  margin-top: 189px; }
  .main-text__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 59px;
    color: #7c6db0;
    margin-bottom: 30px;
    letter-spacing: 3px; }
  .main-text__subtitle {
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
    line-height: 59px;
    background-color: #7f70b1;
    padding: 6px 25px;
    display: inline-block;
    margin-bottom: 94px; }
  .main-text__descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
    .main-text__descr img {
      margin-right: 36px;
      margin-left: 11px; }
    .main-text__descr p {
      line-height: 30px;
      font-size: 22px; }

.button {
  outline: none;
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
  box-shadow: 0 2px 16px rgba(0, 215, 255, 0.44);
  background-color: #1eb8b0;
  background-image: -webkit-linear-gradient(320deg, #01c4e0 0%, #01b3e0 100%);
  background-image: linear-gradient(-230deg, #01c4e0 0%, #01b3e0 100%);
  padding: 24px 54px;
  border: 2px solid #1eb8b0;
  color: #fff; }

.btn-o {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #1eb8b0;
  background-image: none;
  color: #01b3e0;
  padding: 24px 76px;
  
  }