.header{
	color: #333333;
font-family: Tahoma;
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
padding-top: 70px;
padding-bottom: 82px;
}
.features-wrap{
	text-align: center;
}
.features-img{
	color: #333333;
font-family: Tahoma;
font-size: 16px;
font-weight: 700;
max-height: 60px;

}